@font-face {
  font-family: 'STM_Medium';
  src: url('/fonts/SometypeMono-Medium.ttf') format('truetype');
}

body {
  background-color: navy;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
    .app-container {
      width: 100%;
      margin: 0 auto;
    }
    
    .top-bar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: navy;
      padding: 10px 20px;
      color: white;
      z-index: 1000; /* Ensure the top bar is above other content */
      border-bottom: 1px solid white; /* Bottom border only */
      
    }
    
    .hamburger {
      font-size: 32px;
      cursor: pointer;
      display: block; /* Show on smaller screens */
    }
    
    .dropdown-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%; /* Position the dropdown menu below the top bar */
      right: 20px;
      background-color: navy;
      border: 1px solid white;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top: 1px solid navy; /* Correct syntax for top border */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1001; /* Ensure the dropdown menu is above the top bar */
    }
    
    .topbar-menu-title {
      color: white;
      background-color: navy;
      width: 150px;
      padding: 5px 10px;
      margin: 5px;
      border: none;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      font-family: 'STM_Medium';
      
    }

    .topbar-menu-title:hover {
      background-color:yellow;
      color: navy;
      transition: 0.3s;
    }

    .topbar-menu-buttons {
      color: white;
      background-color: navy;
      width: 100px;
      padding: 5px 10px;
      margin: 5px;
      border: none;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      font-family: 'STM_Medium';
    }
    
    .topbar-menu-buttons:hover {
      background-color:yellow;
      color: navy;
      transition: 0.3s;
    }
  
.wallet-text {
    color: white;
    font-family: 'STM_Medium';
    }

.wallet-address {
    color: white;
    font-family: 'STM_Medium';
}

.wallet-container-container {
  display: grid;
  justify-content: center;  /* Aligns children (images) horizontally at the center */
  /*flex-wrap: wrap;           Allows children to wrap to the next line if not enough space */        
  max-width:600px;
}

.wallet-container {
  display: flex;
  justify-content: center;  /* Aligns children (images) horizontally at the center */
  flex-direction: row;
  max-width:600px;
}

.wallet-address {
  margin: 10px;
  height: auto;        /* Maintains aspect ratio */
  max-height: 150px;   /* Maximum height of the image */
  width: auto;         /* Adjust width automatically */
  padding:1px;
  border:2px solid rgb(228, 225, 225);
  border-radius:2px;
}

.wallet-text {
  font-size: 16px;
  text-align: center;    /* Centers the text */
  margin-top: 10px;      /* Adds margin on the top for spacing from images */
}

@media (max-width: 750px) {
  .wallet-address {
    max-height: 70px;  /* Smaller images on small screens */
    margin-left: 35px;
  }

  .wallet-address{
    margin:5px;
  }

  .wallet-text {
    font-size: 14px;    /* Smaller text on small screens */
  }

}